@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Space+Mono:wght@400;500;600;700&display=swap');

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-space-mono: 'Space Mono', monospace;
}
  

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: rgb(17, 17, 17);
    font-family: var(--font-poppins) !important;
}

.ui-widget{
    font-family: var(--font-poppins) !important;
}

#grpc-form{
    font-family: var(--font-poppins) !important;
}

#grpc-form #grpc-service, #grpc-form #grpc-method{
    font-family: var(--font-roboto) !important;
}

.full-width-heading{
    display: none;
    background-color: rgba(31, 41, 55);
}

#grpc-form{
    background-color: rgb(17, 17, 17);
}

#grpc-descriptions{
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    background-color: #1f2929 !important;
    border-radius: 16px;
    padding: 24px;
} 

.grpc-desc pre {
    margin: 0px;
    border-left: none !important;
    padding-left: 0px;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: -0.6%;
}

.grpc-form-label{
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    margin-right: 35px
}

.grpc-desc, .grpc-desc tr{
    width: 100% !important;
}

.grpc-desc tr td{
    width: 50%;
}

#grpc-desc-selects, #grpc-desc-selects tbody, #grpc-desc-selects tbody tr, grpc-desc-selects tbody tr .grpc-form-label {
    width: 100%;
}


.grpc-desc button#grpc-descriptions-toggle{
    background-color: rgb(17, 17, 17) !important;
    position: absolute;
    top: 75px !important;
    left: 305px !important;
    rotate: -90deg !important;
    height: 15px !important;
}

#grpc-service{
    height: 32px;
    background-color: transparent;
    border-top: 1px 'solid' #fff !important;
    border-right: 1px 'solid' #fff !important;
    border-bottom: 1px 'solid' #fff !important;
    border-left: 1px 'solid' #fff !important;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    padding: 6px 16px;
}

#grpc-method{
    height: 32px;
    background-color: transparent;
    border-top: 1px 'solid' #fff !important;
    border-right: 1px 'solid' #fff !important;
    border-bottom: 1px 'solid' #fff !important;
    border-left: 1px 'solid' #fff !important;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    padding: 6px 16px;
}

.grpc-desc button#grpc-descriptions-toggle{
    background-color: rgb(17, 17, 17);
    margin-top: 7px;
    color: #80D4D9;
    height: 20px;
    width: 25px;
}

.grpc-desc tbody tr{
    display: flex !important;
    flex-wrap: wrap !important;
}

#grpc-service-description, #grpc-service-description-end{
    color: #fff;
    font-weight: semibold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
}

#grpc-service-description{
    padding-top: 0px;
}

#grpc-method-description{
    color: #80D4D9;
    padding: 16px 0px;
}


#grpc-service-description-end{
    padding-bottom: 0px;
}

#grpc-request-response {
    background-color: rgb(17, 17, 17) !important;
    border: none !important;
}

#grpc-request-response ul.ui-tabs-nav{
    background-color: rgb(17, 17, 17) !important;
}

#grpc-request-response li.ui-state-default{
    background-color: transparent !important;
    color: #49454F !important;
    border: transparent !important;
    border-bottom: 2px solid none !important;
    border-radius: 0px;
    z-index: 1 !important;
}

#grpc-request-tab-button{
    border-top-left-radius: 8px !important;
}

#grpc-history-tab-button{
    border-top-right-radius: 8px !important;
}

#grpc-request-response li.ui-tabs-active{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid #80D4D9 !important;
}

#grpc-request-response li.ui-tabs-active a {
    color: #fff !important;
}

#grpc-request-raw-tab textarea,
#grpc-request-raw-tab .grpc-curl-panel {
    background-color: #1f2929;
    padding: 16px !important;
    border-radius: 4px;
    border-color: transparent;
}

#grpc-request-raw-tab textarea{
    color: #4AB249;
}

#grpc-request-raw-tab .grpc-curl-panel{
    /* !!!COLOR CODE!!! */
}

.grpc-invoke::after {
    content: ' ➜'; /* space before arrow */
    background: linear-gradient(to right, #0891B0, #05966B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    background-clip: text;
    color: white;
}

.grpc-invoke, .grpc-history-clear, .grpc-history-save{
    background: linear-gradient(to right, #0891B0, #05966B) !important;
    color: white;
    padding: 6px 12px;
    border-color: transparent !important;
    border-radius: 4px;
}

#grpc-form button.delete {
    background-color: transparent !important;
    padding: 2px 4px;
    border-color: transparent !important;
    border-radius: 4px;
}

#grpc-form .grpc-request-table button.add {
    background-color: transparent !important;
    border: transparent !important;
}

#grpc-history-list button.load {
    background: #80D4D9 !important;
    color: #002021;
    font-weight: 500;
    border: transparent !important;
}

#grpc-history-list .history-item-header {
    border-bottom: 1px solid #3F4949;
}

#grpc-history-list .history-item-panel {
    background-color: #1f2929;
    color: #4AB249 !important;
    border: none;
    padding: 16px;
}

#grpc-history-list .history-item-panel .history-detail-metadata th, #grpc-history-list .history-item-panel .history-detail-metadata td {
    color: #4AB249 !important;
}

.history-detail-heading table{
    color: #4AB249 !important;
}

#grpc-history-list > .ui-accordion:first-child {
    border: 1px solid #3F4949;
    border-radius: 4px;
}

.history-item-time {
    color: white;
    font-weight: 500;
}

.history-item-method,
.history-item-duration {
    color: rgba(255, 255, 255, 0.6);
}

.history-item-result {
    color: #00CC00;
}

#grpc-history-list .history-item-header .history-item-result.error {
    color: #FFB4AB;
}

.grpc-request-raw-container h3{
    color: #80D4D9 !important;
}

#grpc-request-response .grpc-tabcontent.ui-tabs-panel{
    background-color: transparent !important;
}

#grpc-response-tab h3 {
    color: #80D4D9;
}

#grpc-response-tab td {
    color: white;
}

#grpc-response-tab #grpc-response-headers td{
    border: 1px solid #3F4949;
}

#grpc-response-tab #grpc-response-trailers td {
    border: 1px solid #3F4949;
    border-radius: 4px !important;
}

#grpc-response-tab #grpc-response-trailers .none{
    border: transparent !important;
}

#grpc-response-tab textarea {
    background-color: #1f2929 !important;
    border: transparent;
    border-radius: 4px;
    color: #4AB249;
    padding: 16px;
}

.grpc-tabcontent{
    background-color: #0E1415 !important;
    border: #0E1415 !important;
}

.grpc-tabcontent h3{
    color: #80D4D9 !important;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.7%;
}

#grpc-request-form div.one-of-3 {
    background-color: #161D1D;
    border: none;
    border-radius: 4px;
    width: 100%;
}

#grpc-request-form th {
    color: #80D4D9;
}

.message_field .name{
    text-align: left !important;
}

.message_field .name strong{
    font-size: 20px !important;
    line-height: 22px;
    letter-spacing: -0.7%;
}

.message_field .name em{
    font-size: 16px !important;
    line-height: 22px;
    letter-spacing: -0.7%;
}

#grpc-request-form td.name {
    font-size: 16px !important;
    line-height: 22px;
    letter-spacing: -0.7%;
}

input[type="checkbox" i]{ 
    background-color: transparent !important;
    border: 1px solid #49454F !important;
}

#grpc-request-metadata-form {
    width: 100% !important;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.7%;
}

#grpc-request-metadata .grpc-request-table .metadataRow td, #grpc-request-metadata .grpc-request-table .metadataRow th, #grpc-request-metadata .grpc-request-table tbody tr th{
    height: 48px;
    color: #FEF7FF;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.7%;
    border: 1px solid #434B58;
    background-color: transparent;
}

#grpc-request-metadata-form td {
    padding: 0px !important;
}

#grpc-request-metadata .grpc-request-table tbody td .name, #grpc-request-metadata .grpc-request-table tbody td .value{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    text-align: center;
}

#grpc-request-metadata .grpc-request-table tbody .add-row-label{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1%;
}

#grpc-request-metadata .grpc-request-table tbody tr td:first-child{
    padding: 10px !important; 
    width: 40px !important;
}


/* #grpc-request-metadata .grpc-request-table tbody tr td:first-child button{

} */


#grpc-request-form div table {
    color: #fff;
}

#grpc-request-timeout{
    color: #fff ;
}

#grpc-request-timeout input{
    height: 48px;
    width: 81px;
    background-color: #1F2632;
    color: #fff;
    font-size: large;
    margin-right: 12px;
    border-radius: 4px;
    border: none;
    text-align: center;
}

.grpc-file-button{
    background-color: #80D4D9 !important;
    color: #002021 !important;
    border: none !important;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1%;
}

textarea{
    background-color: #1F2632;
    color: #fff;
    font-size: large;
    margin-right: 16px;
    border-radius: 4px;
    border: none !important;
}

#grpc-request-response li.ui-tabs-tab:first-child {
    border-top-left-radius: 8px;
}

#grpc-request-response li.ui-tabs-tab:last-child {
    border-top-right-radius: 8px;
}